label 
{
    display: block;
    margin: 0.5rem 0;
}
.formulas
{
    width: 1000px;
    height: auto;
}
.unidades
{
    width: 500px;
    height: 500px;
    
}
body
{
    font-family: monospace;
}




