/* Estilos para el encabezado y el fondo */

body {
    background-color: #181818;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  header {
    background-color: #0F52BA;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  /* Estilos para la sección de fórmulas */
  
  .formulas {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #1A1A1A;
    border-radius: 10px;
    margin-top: 30px;
  }
  
  .formulas h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .formulas p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .formulas label {
    display: block;
    margin-bottom: 10px;
  }
  
  .formulas input[type=number] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #272727;
    color: white;
    font-size: 16px;
  }
  
  .formulas button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #0F52BA;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .formulas button:hover {
    background-color: #1B3F8B;
  }
  
  .formulas span {
    font-weight: bold;
  }
  
  /* Estilos para la sección de conversores */
  
  .unidades {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #1A1A1A;
    border-radius: 10px;
    margin-top: 30px;
  }
  
  .unidades h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .unidades h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .unidades label {
    display: block;
    margin-bottom: 10px;
  }
  
  .unidades input[type=text] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #272727;
    color: white;
    font-size: 16px;
  }
  
  .unidades button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #0F52BA;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .unidades button:hover {
    background-color: #1B3F8B;
  }
  
  .unidades p {
    font-size: 18px;
    margin-bottom: 10px;
  }